<h1>Room <%= @room.id %></h1>

<%= button_to "Leave", root_path, data: {turbo: false}, method: :get, class: "btn btn-primary" %>

<p id="notice"><%= notice %></p>

<div class="messages">
  <div class="messages-inner" id="messages" data-room-id="<%= @room.id %>">
    <%= render @room.messages %>
  </div>
</div>

<%= render 'messages/form' %>
